body {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #829384; 
    background-image: url(../img/WhatsApp\ Image\ 2024-08-24\ at\ 15.15.47.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
    
}

footer {
    background-color: black;
    color: white;
    font-size: smaller;
    padding: 0;
    margin: 0;
}

/*header*/
#Logo img {
    display: flex;
    margin: auto;
}

#informe h1 {
    text-align: center;
    text-decoration: underline;
}

/*cuadro feedlot*/
#feedlot {
    background-color: #67b360;

    border-radius: 30px;
}

#feedlot img {
    display: flex;
    margin: auto;
    
}

#feedlot h2{
    text-align: center;
}

/*cuadro cerdos*/
#cerdos {
    background-color: #67b360;
    
    border-radius: 30px;
}

#cerdos img {
    display: flex;
    margin: auto;
    
}

#cerdos h2{
    text-align: center;
}

/*cuadro bio industria*/
#bioind {
    background-color: #67b360;
 
    border-radius: 30px;
}

#bioind img {
    display: flex;
    margin: auto;
    
}

#bioind h2{
    text-align: center;
}

